{% extends "layout.html" %}

{% block content %}

<script>
    let slide = {{ slide | tojson | safe }};
    console.log(slide);
</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pickler's Paradise</title>

</head>

<body>
    <div class="heading-box">
        <h1>{{ slide.qnum }}. {{ slide.question }}</h1>
    </div>
  
    <form id="quiz-form" action="/submit_quiz" method="POST">
      <div class="quiz-box-options">
        {% if slide.options %}
          {% for option in slide.options %}
            <label><input type="radio" name="option" value="{{ option }}">  {{ option }}</label><br>
          {% endfor %}
        {% endif %}
      </div>
      <input type="hidden" name="id" value="{{ slide.id }}"> <!-- Add hidden input to pass question id -->
      <button id="submit_quiz" type="submit">Submit</button>
      <p id="result" style="display:none;" data-answer="{{ slide.answer }}"></p>
      <button id="next_quiz" style="display:none;">Next</button>
    </form>
    

  <script src="../static/quiz.js"></script>
</body>

</html>

{% endblock %}