{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Some Top Players</title>

</head>

<body>
  <h1>The Pickler's Paradise</h1>
  <iframe src="https://giphy.com/embed/8aLQDT8BXSj7y" width="473" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pickle-8aLQDT8BXSj7y">via GIPHY</a></p>
  <button id="learn_button">Click to learn!</button>
  <button id="quiz_button">Click to be quizzed!</button>

  <script src="static/homepage.js"></script>
</body>

</html>

{% endblock %}

