{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pickler's Paradise</title>

</head>

<body>
    <div class="container-fluid ">
        <div class="row">
          <h1 style="text-align:center;">The Pickler's Paradise</h1>
        </div>
        <div class="row d-flex-inline align-items-center justify-content-center">
          <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzF5MzNveTFyaG5jcDk2czc4b21pc2x3eXk5cTNkMGduZHp0ZGs3eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8aLQDT8BXSj7y/giphy.gif" alt="Pickle Dancing GIF" style="width: 500px; height: 506.906px; left: 0px; top: 0px; opacity: 1;">
        </div>
        <div class="row d-flex-inline">
          <button id="learn_button">Click to learn!</button>
          <button id="quiz_button">Click to be quizzed!</button>
        </div>
      </div>

  <script src="static/homepage.js"></script>
</body>

</html>

{% endblock %}

