{% extends "layout.html" %}

{% block content %}

<style>
img {
  float: left;
  width:  250px;
  height: 250px;
  object-fit: cover;
  padding: 3%
}
</style>

<script>
    let slide = {{ slide | tojson | safe }};
    console.log(slide)
</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pickler's Paradise</title>

</head>

<body>
  <h1>{{ slide.instruction }}</h1>
  
  {% if slide.id == 1 %}
  <h2>{{ slide.heading }}</h2>
  <label>
    <input name="ans1" type="radio" class="answer" />
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/02/Glass-and-bottle-of-milk-fe0997a.jpg?resize=768,574" alt="Milk"/>
    <figcaption>Milk</figcaption>
  </label>
  <label>
    <input name="ans2" type="radio" class="answer" />
    <img src="https://www.eatingwell.com/thmb/JpO2j5YTFLxFT_oQ2XtFPsbAOcE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/dill-ac021c11b2dc41ac83b809819617f042.jpg" alt="Dill" />
    <figcaption>Dill</figcaption>
  </label>
  <label>
    <input name="ans3" type="radio" class="answer" />
    <img src="https://i5.walmartimages.com/seo/Jagermeister-Herbal-Liqueur-750-ml-Bottle-35-ABV_fa58bf1e-4919-43a3-aa2f-765d9b4ac8d3.be19a28334a592aaa7705eddd3440664.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="Alcohol Bottle" />
    <figcaption>Alcohol</figcaption>
  </label><br><br>
  {% endif %}

  {% if slide.id == 2 %}
  <h2>{{ slide.heading }}</h2>
  <img src="https://www.shutterstock.com/image-vector/hand-drawn-mason-jar-contour-600nw-1049331473.jpg" alt="Jar" />
  <img src="https://www.shutterstock.com/image-vector/hand-drawn-mason-jar-contour-600nw-1049331473.jpg" alt="Jar" />
  <img src="https://www.shutterstock.com/image-vector/hand-drawn-mason-jar-contour-600nw-1049331473.jpg" alt="Jar" /><br><br><br><br><br>
  {% endif %}

  {% if slide.id == 3 %}
  <h2>{{ slide.heading }}</h2>
<label>
  <input name="ans1" type="checkbox" class="answer" />
  <img src="https://blog.lexmed.com/images/librariesprovider80/blog-post-featured-images/shutterstock_1933299218.jpg?sfvrsn=4a8d900b_0" alt="Cherries"/>
  <figcaption>Cherries</figcaption>
</label>
<label>
  <input name="ans2" type="checkbox" class="answer" />
  <img src="https://images.everydayhealth.com/images/diet-nutrition/potential-health-benefits-of-green-beans-1440x810.jpg" alt="Green Beans" />
  <figcaption>Green Beans</figcaption>
</label>
<label>
  <input name="ans3" type="checkbox" class="answer" />
  <img src="https://www.southernliving.com/thmb/FaJ64cufLIteCkTYUDwb2unePnY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/2612501_cooki_mushrooms_shiitake_096-1-4b8dd16a56be44768ed1468cebfc3a9e.jpg" alt="Mushrooms" />
  <figcaption>Mushrooms</figcaption>
</label>
<label>
  <input name="ans4" type="checkbox" class="answer" />
  <img src="https://www.thespruceeats.com/thmb/KREtRDgPBBevtf_YaN3oavhGQFU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/what-are-bell-peppers-5216131-still-life-9960d1febfd64dde9de5134dc184529e.jpg" alt="Bell Peppers"/>
  <figcaption>Bell Peppers</figcaption>
</label>
<label>
  <input name="ans5" type="checkbox" class="answer" />
  <img src="https://www.simplyrecipes.com/thmb/vUSYpxhcP3yGIy3BpxxrLr5_t1g=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Simply-Recipes-Strawberry-Guide-LEAD-02-9a5546836ac948e9b42e5d650918a21c.jpg" alt="Strawberries" />
  <figcaption>Strawberries</figcaption>
</label>
<label>
  <input name="ans6" type="checkbox" class="answer" />
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Tomato_je.jpg/1200px-Tomato_je.jpg" alt="Tomatoes" />
  <figcaption>Tomatoes</figcaption>
</label><br><br>
  {% endif %}

  {% if slide.id == 4 %}
  <h2>{{ slide.heading }}</h2>
    Drag and drop to separate the carrot into 5 pieces!</h2>
  {% endif %}

  {% if slide.id == 5 %}
  <h2>{{ slide.heading }}</h2>
  <img src="https://www.webstaurantstore.com/images/products/large/592230/2454581.jpg" alt="Jar" /><br><br>
  <input type="checkbox" id="option1" name="option1" value="Bike">
  <label for="option1"> 1 tbsp garlic</label><br>
  <input type="checkbox" id="option2" name="option2" value="Car">
  <label for="option2"> 1 tbsp sugar</label><br>
  <input type="checkbox" id="option3" name="option3" value="Boat">
  <label for="option3"> 1 tbsp sugar</label><br><br>
  {% endif %}

  {% if slide.id == 6 %}
  <h2>{{ slide.heading }}</h2>
  <form>
    <label for="prediction">Enter Prediction Here:</label><br>
    <input type="text" id="prediction" name="prediction"><br>
    </form>
  {% endif %}

  {% if slide.id == 7 %}
  <h2>{{ slide.heading }}</h2>
  <form>
    <input type="radio" id="ans1" name="fal" value="ans1">
    <label for="ans1">Boiling water always reaches a temperature of exactly 100 degrees Celsius at sea level.</label><br>
    <input type="radio" id="ans2" name="fal" value="ans2">
    <label for="ans2">Boiling water can be used to kill most bacteria and other pathogens present in it.</label><br>
    <input type="radio" id="javascript" name="fal" value="ans3">
    <label for="ans3">Water boils faster when salt is added to it.</label>
  </form><br>
  {% endif %}

  {% if slide.id == 8 %}
  <h2>{{ slide.heading }}</h2>
  {% endif %}

  {% if slide.id == 9 %}
  <h2>{{ slide.heading }}</h2>
  [Create a series of gif’s of us sealing the jar.]<br><br>
  {% endif %}

  {% if slide.id == 10 %}
  <h2>{{ slide.heading }}</h2>
  Click to remove the air bubbles. **need to edit pic <br>
  <img src="https://img.freepik.com/premium-vector/blue-flat-air-bubbles-soap-bubbles-outline-water_760231-588.jpg" alt="Bubbles" />
  {% endif %}

  {% if slide.id == 11 %}
  <h2>{{ slide.heading }}</h2>
  <label>
    <input name="ans1" type="radio" class="answer" />
    <img src="https://dijf55il5e0d1.cloudfront.net/images/rr/4/2/8/42835_1000.jpg" alt="Counter"/>
    <figcaption>Counter</figcaption>
  </label>
  <label>
    <input name="ans2" type="radio" class="answer" />
    <img src="https://m.media-amazon.com/images/I/51llsc7MClL.jpg" alt="Fridge" />
    <figcaption>Fridge</figcaption>
  </label>
  <label>
    <input name="ans3" type="radio" class="answer" />
    <img src="https://southviewdesign.com/assets/components/phpthumbof/cache/watch_the_game_outside.bf7f96f6ba58290eb16bcfa12ee69ce6.jpg" alt="Outside" />
    <figcaption>Outside</figcaption>
  </label><br><br>
  {% endif %}

  <button id="next_learn">Click to begin or move onto next step.</button>


  <script src="../static/learn.js"></script>

</body>


</html>

{% endblock %}

