{% extends "layout.html" %}

{% block content %}

<script>
    let slide = {{ slide | tojson | safe }};
    console.log(slide)
</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Some Top Players</title>

</head>

<body>
  <h1>{{ slide.instruction }}</h1>
  <button id="next_learn">Click to begin or move onto next step.</button>

  <script src="../static/learn.js"></script>

</body>


</html>

{% endblock %}

