{% extends "layout.html" %}

{% block content %}

<style>
img {
  float: left;
  width:  250px;
  height: 250px;
  object-fit: cover;
  padding: 3%
}
</style>

<script>
    let slide = {{ slide | tojson | safe }};
    console.log(slide)
</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pickler's Paradise</title>

</head>

<body>
  <h1>{{ slide.instruction }}</h1>
  
  {% if slide.id == 1 %}
  <h2>Guess! Which of these do we need?</h2>
  <label>
    <input name="ans1" type="radio" class="answer" />
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/02/Glass-and-bottle-of-milk-fe0997a.jpg?resize=768,574" alt="Milk"/>
    <figcaption>Milk</figcaption>
  </label>
  <label>
    <input name="ans2" type="radio" class="answer" />
    <img src="https://www.eatingwell.com/thmb/JpO2j5YTFLxFT_oQ2XtFPsbAOcE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/dill-ac021c11b2dc41ac83b809819617f042.jpg" alt="Dill" />
    <figcaption>Dill</figcaption>
  </label>
  <label>
    <input name="ans3" type="radio" class="answer" />
    <img src="https://i5.walmartimages.com/seo/Jagermeister-Herbal-Liqueur-750-ml-Bottle-35-ABV_fa58bf1e-4919-43a3-aa2f-765d9b4ac8d3.be19a28334a592aaa7705eddd3440664.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="Alcohol Bottle" />
    <figcaption>Alcohol</figcaption>
  </label><br><br>
  {% endif %}

  {% if slide.id == 2 %}
  <h2>Flip those jars!</h2>
  <img src="https://www.shutterstock.com/image-vector/hand-drawn-mason-jar-contour-600nw-1049331473.jpg" alt="Jar" />
  <img src="https://www.shutterstock.com/image-vector/hand-drawn-mason-jar-contour-600nw-1049331473.jpg" alt="Jar" />
  <img src="https://www.shutterstock.com/image-vector/hand-drawn-mason-jar-contour-600nw-1049331473.jpg" alt="Jar" /><br><br><br><br><br>
  {% endif %}

  {% if slide.id == 3 %}
  <h2>Select...what are some fruits and vegetables that can be pickled?</h2>
<label>
  <input name="ans1" type="checkbox" class="answer" />
  <img src="https://blog.lexmed.com/images/librariesprovider80/blog-post-featured-images/shutterstock_1933299218.jpg?sfvrsn=4a8d900b_0" alt="Cherries"/>
  <figcaption>Cherries</figcaption>
</label>
<label>
  <input name="ans2" type="checkbox" class="answer" />
  <img src="https://images.everydayhealth.com/images/diet-nutrition/potential-health-benefits-of-green-beans-1440x810.jpg" alt="Green Beans" />
  <figcaption>Green Beans</figcaption>
</label>
<label>
  <input name="ans3" type="checkbox" class="answer" />
  <img src="https://www.southernliving.com/thmb/FaJ64cufLIteCkTYUDwb2unePnY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/2612501_cooki_mushrooms_shiitake_096-1-4b8dd16a56be44768ed1468cebfc3a9e.jpg" alt="Mushrooms" />
  <figcaption>Mushrooms</figcaption>
</label>
<label>
  <input name="ans4" type="checkbox" class="answer" />
  <img src="https://www.thespruceeats.com/thmb/KREtRDgPBBevtf_YaN3oavhGQFU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/what-are-bell-peppers-5216131-still-life-9960d1febfd64dde9de5134dc184529e.jpg" alt="Bell Peppers"/>
  <figcaption>Bell Peppers</figcaption>
</label>
<label>
  <input name="ans5" type="checkbox" class="answer" />
  <img src="https://www.simplyrecipes.com/thmb/vUSYpxhcP3yGIy3BpxxrLr5_t1g=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Simply-Recipes-Strawberry-Guide-LEAD-02-9a5546836ac948e9b42e5d650918a21c.jpg" alt="Strawberries" />
  <figcaption>Strawberries</figcaption>
</label>
<label>
  <input name="ans6" type="checkbox" class="answer" />
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Tomato_je.jpg/1200px-Tomato_je.jpg" alt="Tomatoes" />
  <figcaption>Tomatoes</figcaption>
</label><br><br>
  {% endif %}


  <button id="next_learn">Click to begin or move onto next step.</button>


  <script src="../static/learn.js"></script>

</body>


</html>

{% endblock %}

