{% extends "layout.html" %}

{% block content %}

<script>
    let slide = {{ slide | tojson | safe }};
    console.log(slide)
</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pickler's Paradise</title>

</head>

<body>
  <h1>{{ slide.qnum }}. {{ slide.question }}</h1>
  <form id="quiz-form">
    <div id="options-container">
      {% if slide.options %}
        {% for option in slide.options %}
          <label><input type="radio" name="option" value="{{ option }}">  {{ option }}</label><br>
        {% endfor %}
      {% endif %}
    </div>
  </form>
  <button id="next_quiz">Next</button>

  <script src="../static/quiz.js"></script>
</body>

</html>

{% endblock %}
